/*encabezados*/	
	h1{	
        font-family:'Wallpoet', cursive;
		font-size: 6em;
		text-align: center;
		text-shadow: 5px 5px 8px white;
	}
	h2 {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 1em;
	} 
/*cuerpo*/
	body {
		margin: 2em 6em;
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	p{
		text-align: justify;
	}
	legend{
		font-family: cursive;
	}
	.page{
        display: table;
        width: 100%
    }
    .container {
        float: right;
        width: 60%
    }
	aside{
		float:right;
		color: black;
        width: 40%
	}
	/*Zoom*/
	img.zoom {
		width: 220px;
		height: 150px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
	}
	 
	.transition {
		-webkit-transform: scale(1.8); 
		-moz-transform: scale(1.8);
		-o-transform: scale(1.8);
		transform: scale(1.8);
	}
	img.shadow {
		background: url(shadow-1000x1000.gif) no-repeat right bottom;
		padding: 5px 10px 10px 5px;
		}
	img.double-border {
	border: 5px solid #ddd;
	padding: 5px; /*Inner border size*/
	background: #fff; /*Inner border color*/
	}